
@media (max-width: 767px){
    *,
    *::before,
    *::after{
        box-sizing: border-box;
    }
    .container{
      max-width:  426px;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
    }
    .adress{
        opacity: 0;
        display: none;
    }
    .links{
        opacity: 0;
        display: none;
    }
    .container2{
        max-width: 426px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .section4{
        width: 100%;
    }

    .feature{
        display: block;

    }
    .feature3__title{
        text-align: center;

    }
    .feature3__text{
        text-align: left;
    }
    .feature2__title{
        text-align: center;
    }
    .feature2__text{
        text-align: left;

    }
    .feature4__text{
        text-align: left;
    }
    .feature4__title{
        text-align: center;
    }
    .feature1__text{
        text-align:left;
    }
    .feature1__title{
        text-align: center;
    }
    .feature1{
        align-items: center;
        width: 100%;
        gap: 0;
    }
    .feature2{
        align-items: center;
        width: 100%;
        gap: 0;
    }
    .feature3{
        align-items: center;
        margin-bottom: 72px;
        width: 100%;
        gap: 0;
    }
    .feature4{
        align-items: center;
        width: 100%;
        gap: 0;
    }
    @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2){
    .section1{
        background-image: 
        linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ), 
        url(../images/dark-bg\ \(5\)\ \(1\).jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 112px;
        padding-bottom: 112px;
    }
  }
    .section1__title{
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
width: 320px;
margin-bottom: 72px;

    }
    .section4__title{
        margin-top: 0;
    }
    .person{
        margin-bottom: 72px;
    }
    .person:last-child{
        margin-bottom: 0;
    }
    
    .menu{
        margin-left: 0;
    }
    .menu-logo{
        margin-left: 0;
        font-family: 'Raleway' , sans-serif;
    }
.section1__button{
    margin-top: 0;
}
.container4{
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
}
.person{
    margin-right: 0;
}
.person:nth-child(3){
    margin-bottom: 72px;
    margin-right: 0;
}


.group{
    margin-right: 16px;
    width: 190px;
    height: 88px;
}
.group:nth-child(2){
    margin-right: 0;
}
.group:nth-child(4){
    margin-right: 0;
}
.group:nth-child(3){
    margin-right: 16px;
}
.container5{
    max-width: 426px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 96px;
    padding-top: 96px;
    margin-left: auto;
    margin-right: auto;

}
.section5{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.menu-footer{
    display: block;
}

.footer__container{
    max-width: 426px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.footer__title{
    text-align: right;
    margin:0 auto;
}
.footer1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title-footer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-span{
    text-align: center;
}
.first-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-menu{
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    opacity: 100%;
}
.lines{
    width: 32px;
    height: 22px;
    opacity: 100%;
}
.footer__text{
    text-align:left;
    padding-top: 17px;
    padding-bottom: 0;
}
.footer2{
    margin-left: 0;
    padding-top: 0;
    margin-top: 100px;
}
.text-media{
    text-align: center;
}
.social-media{
    justify-content: center;
}
.social-media{
    display: flex;
    margin-top: 8px;
}
.facebook2{
    height: 16px;
    width: 16px;
}
.linkedin2{
    height: 16px;
    width: 16px;
}
.media{
    height: 40px;
    width: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;  
background: rgba(255, 255, 255, 0.1);
margin-right: 16px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media:last-child{
    margin-right: 0;
}
.media:hover{
    background: #31D0AA;
}
.linkedin3{
height: 24px;
width: 24px;
}
.insta3{
    height: 24px;
    width: 24px;
}
.facebook3{
    height: 24px;
    width: 24px;
}
.twitter3{
    height: 24px;
    width: 24px;
}
.subscribe{
    text-align: center;
    margin-bottom: 16px;
}
.page-label{
    display: block;
    width: 100%;
}
.page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.subscribe__net{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer3{
    width: 100%;
}
.footer{
 width: 100%;
 margin-right: auto;
 margin-left: auto;
}
.footer2{
    width: 100%;
}
.modal{
    padding: 72px 16px 16px 16px;

    margin-left: auto;
    margin-right: auto;
}
.hobby{
    margin-top: 18px;
}
.stud{
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
.subscribe__rosulka{
    margin-bottom: 16px;
}
.container11{
max-width: 426px;
flex-wrap: wrap;
justify-content: flex-start;
margin-top:48px ;
gap: 16px;
margin-bottom: 48px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
.section11__button1{
    width: 53px;
    padding: 8px 16px;
    justify-content: center;
    margin-right:24px ;
    align-items: center;
}
.section11__button2{
width: 100px;
padding: 8px 16px;
margin-right: 24px;
}
.section11__button3{
    width: 62px;
    padding: 8px 16px;
}
.section11__button4{
    width: 85px;
    padding: 8px 16px;
    margin-right: 24px ;
}
.section11__button5{
    width: 110px;
    padding: 8px 16px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.buttons-last{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container12{
    max-width: 426px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.images{
    height: 280px;
width: 396px;
}
.papka{
    width: 396px;
    margin-right: 0;
    margin-left: 0;
}
.papka:nth-child(7){
    margin-right: 0;
    margin-bottom: 48px;
}
.papka:nth-child(8){
    margin-right: 0;
    margin-bottom: 48px;
}
.papka:nth-child(5){
    margin-right:0;
}
.papka:nth-child(3){
    margin-right: 0;
}
.papka:nth-child(1){
    margin-right: 0;
}
.papka:last-child{
    margin-top: 0;
}
.hero-picture{
    justify-content: center;
}
.menu-toggle {
    width: 24px;
height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E9FC;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
  }
  .hrest{
   fill: #2E2F42;
  }
  .menu-toggle:hover,
  .menu-toggle:focus {
    background: #404BBF;
  }
  @media (max-width:320px){
    .menu-container {
        max-width: 320px;
    }
    .modal{
        max-width: 320px ;

    }
    .forma__hp12{
        width: 288px;
    }
    .forma__len{
        width: 288px;
    }
    .forma__macb{
        width: 288px;
    }
    .forma__blb{
        width: 288px;
    }
    .forma__tutor{
        width: 288px;
    }
    .forma__poshta{
        height: 58px;
    }
    .forma__telefon{
        height: 58px;
    }
    .forma__person{
        height: 58px;
    }
    .hobby{
         width: 288px; 
         text-align: center;
    }
  }
  .menu-container {
    position: fixed;

    height: 100%;
    top: 0;
    left: 0;
padding-left: 40px;
padding-bottom: 40px;
padding-top: 80px;
padding-right: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);    
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    opacity: 100%;
    display: block;
    width: 100%;

  }
  .menu-container.is-open {
    transform: translateX(0);


  }
  .hero-footer{
    display: block;
  }
  .container1{
    max-width: 426px;
    padding-left: 15px;
    padding-right:15px ;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #FFFFFF;
 
  }
  .container3{
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  .mobile-menu .link {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
height: 40px;
width: 109px;
text-decoration-line: none;

  }
  .mobile-menu .link:focus {
    color: #404BBF;
  }
  .mobile-menu .link:hover {
    color: #404BBF;
  }
  .linkk{
    margin-bottom: 40px;
  }
  .linkk:nth-child(3){
    margin-bottom: 284px;
  }
  .menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .popopo{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
}
  .menu-telefon:hover{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #4D5AE5;

  }
  .menu-gmail:hover{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #4D5AE5;

  }
  .menu-gmail{
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
text-decoration-line: none;

  }
  .menu-telefon{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 40px;
text-decoration-line: none;
  }
  .media-social{
    height: 40px;
width: 40px;
border-radius: 50%;
background: #4D5AE5;
display: flex;
justify-content: center;
align-items: center;
margin-right: 54px;
  }
  .media-social:hover{
    background-color: #404BBF;
  }
  .media-social:focus{
    background-color: #404BBF;
  }
  .media-social:last-child{
margin-right: 0;
  }
  .soc-media{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .insta4{
    width: 24px;
    height: 24px;
  }
  .facebook4{
    width: 24px;
    height: 24px;
  }
  .twitter4{
    width: 24px;
    height: 24px;
  }
  .linkedin4{
    width:24px;
    height: 24px;
  }
  .header-container{
    max-width: 426px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
  }
  .header-web{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .section2{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .header-container1{
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 426px){
    .group:nth-child(5){
        margin-right: 16px;

    }
    .group:nth-child(4){
        margin-left: 0;
        margin-bottom: 72px;
    }
    .container5{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        max-width: 428px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
  }

}
@media(max-width:425px){
    .group:nth-child(4){
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 72px;
    }
    .group:nth-child(2){
        margin-right: 0;
    }
    .group:nth-child(3){
        margin-right: 0;
    }
    .group{
        margin-right: 0;
    }
    .container5{
        max-width: 411px;
    }
    .group:nth-child(5){
        margin-bottom: 72px;
    }
}


