@media(max-width:480px ){
    *,
    *::before,
    *::after{
        box-sizing: border-box;
    }
    .header-container{
        width: 100%;
    }
    .adress{
        opacity: 0;
        display: none;
    }
    .links{
        opacity: 0;
        display: none;
    }
    .container2{
        width: 100%;
    }
    .feature{
        display: block;
    }
    .feature3__title{
        text-align: center;

    }
    .feature3__text{
        text-align: center;
    }
    .feature2__title{
        text-align: center;
    }
    .feature2__text{
        text-align: center;
    }
    .feature4__text{
        text-align: center;
    }
    .feature4__title{
        text-align: center;
    }
    .feature1__text{
        text-align: center;
    }
    .feature1__title{
        text-align: center;
    }
    .feature1{
        align-items: center;
        width: 100%;
    }
    .feature2{
        align-items: center;
        width: 100%;
    }
    .feature3{
        align-items: center;
        margin-bottom: 72px;
        width: 100%;
    }
    .feature4{
        align-items: center;
        width: 100%;
    }
    @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
    .section1{
        background-image: 
        linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ), 
        url(../images/dark-bg\ \(3\).jpg);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 480px;
        background-size: cover;
    }
  }
    .section1__title{
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
width: 320px;
margin-bottom:72px ;
    }
    .menu{
        margin-left: 0;
    }
    .menu-logo{
        margin-left: 0;
        font-family: 'Raleway' , sans-serif;
    }
.section1__button{
    margin-top: 0;
}
.team{

}
.container4{
    width: 100%;
}
.person{
    margin-right: 0;
}
.person:nth-child(3){
    margin-bottom: 72px;
}
.group:nth-child(4){
    margin-left: 16px;
    margin-right: 0;
}
.group:nth-child(2){
    margin-right: 0;
}
.group{
    margin-right: 16px;
    width: 190px;
    height: 88px;
}
.container5{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}
.menu-footer{
    display: block;
    width: 100%;
    padding-left: 66px;
    padding-right: 66px;
}
.footer__container{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
}
.footer__title{
    text-align: right;
    margin:0 auto;
}
.footer1{
    display: block;
    text-align: center;
}
.title-footer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-span{
    text-align: center;
}
.first-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-menu{
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    opacity: 100%;
}
.lines{
    width: 32px;
    height: 22px;
    opacity: 100%;
}
.footer__text{
    text-align:left;
}
.footer2{
    margin-left: 0;
}
.text-media{
    text-align: center;
}
.social-media{
    justify-content: center;
}
.subscribe{
    text-align: center;
    margin-bottom: 0;
}
.page-label{
    display: block;
}
.subscribe__net{
    width: 100%;
}
.stud{
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
.subscribe__rosulka{
    margin-bottom: 16px;
}
.container11{
width: 100%;
flex-wrap: wrap;
justify-content: flex-start;
}
.section11__button1{
    width: 53px;
    padding: 8px 16px;
    justify-content: center;
    margin-right:24px ;
    align-items: center;
}
.section11__button2{
width: 100px;
padding: 8px 16px;
margin-right: 24px;
}
.section11__button3{
    width: 62px;
    padding: 8px 16px;
}
.section11__button4{
    width: 85px;
    padding: 8px 16px;
    margin-right: 24px ;
}
.section11__button5{
    width: 110px;
    padding: 8px 16px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.buttons-last{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container12{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}
.images{
    height: 280px;
width: 396px;
}
.papka{
    width: 396px;
    margin-right: 0;
    margin-left: 0;
}
.papka:nth-child(7){
    margin-right: 0;
    margin-bottom: 48px;
}
.papka:nth-child(8){
    margin-right: 0;
    margin-bottom: 48px;
}
.papka:nth-child(5){
    margin-right:0;
}
.papka:nth-child(3){
    margin-right: 0;
}
.papka:nth-child(1){
    margin-right: 0;
}
.papka:last-child{
    margin-top: 0;
}
.hero-picture{
    justify-content: center;
}

}