*,
*::before,
*::after{
    box-sizing: border-box;
}
*:hover,
*:focus{
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
h1,
h2,
h3,
h4,
h5,
h6,p{
margin: 0;
}
ul{
margin: 0;
list-style: none;
padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.footer-span{
    width: 71px;
    height: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.menu__logo{
text-decoration-line: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
margin-right: 76px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.links__studio{
text-decoration-line: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
position: relative;
color: #2E2F42;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links__studio::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    top: 44px;
    background: #404BBF;
    border-radius: 2px; 
    display: block;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links__studio:hover::after{
    width: 100%;
}
.links__portfolio::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    top: 44px;
    background: #404BBF;
    border-radius: 2px; 
    display: block;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links__portfolio:hover::after{
    width: 100%;
}
.links__portfolio{
text-decoration-line: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
position: relative;
color: #2E2F42;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links__contacts{
text-decoration-line: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
position: relative;
letter-spacing: 0.02em;
color: #2E2F42;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links__contacts::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    top: 44px;
    background: #404BBF;
    border-radius: 2px; 
    display: block;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links__contacts:hover::after{
    width: 100%;
}
.addresss__gmail{
text-decoration-line: none;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addresss__gmail:hover{
    color: #404BBF;
}
.addresss__gmail:focus{
    color: #404BBF;
}
.addresss__telefon{
text-decoration-line: none;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addresss__telefon:hover{
    color: #404BBF;
}
.addresss__telefon:focus{
    color: #404BBF;
}
.section1__title{
    width: 504px;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.section1{
padding-top: 188px;
padding-bottom: 188px;
background-image: 
linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ), 
url(../images/people-office\ 1.jpg);
background-repeat: no-repeat;
background-position: center;
max-width: 1440px;
margin-left: auto;
    margin-right: auto;
}
.section1__button{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-top: 48px;
    color: #FFFFFF; 
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 169px;
height: 56px;
left: 636px;
top: 428px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
cursor: pointer;
border: none;
}
.section1__button:hover{
background-color: #404BBF;
}
.section1__button:focus{
    background-color: #404BBF;
}
.section2__title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature1__title{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.feature1__text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.feature2__title{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.feature2__text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.feature3__title{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.feature3__text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.feature4__title{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.feature4__text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section3__title{
align-items: center;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;

}
.links{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.addresss{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 332px;
    padding: 0;
}
.feature{
    list-style-type: none;
    display: flex;
    gap: 24px;
    
}
.feature1{
    width: 264px;
}
.feature2{
    width: 264px;
}
.feature3{
    width: 264px;
}
.feature4{
    width: 264px;
}
.photo{
    list-style-type: none;
    display: flex;
    margin:0 auto;
    margin-bottom: 120px;
    justify-content: center;
}
.photo-list:last-child{
    margin-right: 0;
}
.photo-list{
    margin-right: 24px;
}

.section4__title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: #2E2F42;
margin-top: 120px;
margin-bottom: 72px;
margin-left: 485px;

}
.team{
    list-style-type: none;
    display: flex;
}
.person{
    margin-right: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.person:last-child{
    margin-right: 0;
}
.person1__title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #2E2F42;
}
.person1__text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
.person2__title{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.person2__text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
.person3__title{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.person3__text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
.person4__title{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.person4__text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
.footer__title{
text-decoration: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.7;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #4D5AE5;
padding-top: 100px;
}
.footer__text{
    width: 264px;
height: 72px;
left: 156px;
top: 2418px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
padding-bottom: 100px;
padding-top: 16px;
}
.footer__container{
margin-left: auto;
margin-right: auto;
max-width: 1158px;
padding-right: 15px;
padding-left: 15px;
display: flex;
}
.header-web{
    margin-left: auto;
    margin-right: auto;
}
.header-web1{
    border-bottom: 1px solid #E7E9FC;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
margin-left: auto;
margin-right: auto;
}
.menu-container{
    display: none;
    opacity: 0;
    max-width: 766px;
}
.header-container{
    background: #FFFFFF;
    box-sizing: border-box;
    display: flex;
margin-left: auto;
margin-right: auto;
max-width: 1158px;
padding-right: 15px;
padding-left: 15px;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
}
.adress{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.section11__button1{
    display: flex;
flex-direction: row;
margin-right: 24px;
align-items: flex-start;
padding: 16px 24px;
width: 69px;
height: 48px;
background: #F4F4FD;
color: #4D5AE5;
border: 1px solid #E7E9FC;
border-radius: 4px;
cursor: pointer;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section11__button1:hover{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button1:focus{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button2:hover{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button2:focus{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button2{
    box-sizing: border-box;
display: flex;
margin-right: 24px;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
width: 116px;
height: 48px;
background: #F4F4FD;
color: #4D5AE5;
border: 1px solid #E7E9FC;
border-radius: 4px;
cursor: pointer;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section11__button3:hover{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button3:focus{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button3{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
width: 78px;
height: 48px;
background: #F4F4FD;
color: #4D5AE5;
border: 1px solid #E7E9FC;
border-radius: 4px;
cursor: pointer;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section11__button4:hover{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button4:focus{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button4{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 101px;
    margin-right: 24px;
    height: 48px;
    background: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section11__button5:hover{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button5:focus{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.section11__button5{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
width: 126px;
height: 48px;
background: #F4F4FD;
color: #4D5AE5;
border: 1px solid #E7E9FC;
border-radius: 4px;
cursor: pointer;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.papka-div{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.hero-index{
    background: #FFFFFF;
border-radius: 0px 0px 4px 4px;
padding: 32px 16px;
}
.hero-papka{
    position: relative;
    overflow: hidden;

}
.animation{
    position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
background: #4D5AE5;
padding-left: 24px;
padding-right: 24px;
padding-top: 63px;
padding-bottom: 63px;
transform: translateY(+100%) ;
margin-top: 5px;
display: block;

}
.papka{
    background: #FFFFFF;
border: 1px solid #E7E9FC;
margin-bottom: 48px;
margin-right: 22px;
cursor: pointer;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.papka:hover .animation{
    transform: translateY(0%);   
}
.animation__text-animation{
width: 322px;
height: 168px;
left: 239px;
top: 323px;
font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

letter-spacing: 0.03em;

color: #FFFFFF;
} 
.button-line{
    opacity: 0;
}
.svg-line{
    fill: #212121;
}
.papka:last-child {
    background: #FFFFFF;
border: 1px solid #E7E9FC;
margin-bottom: 0;
margin-right: 0;
}
.papka:nth-child(3){
    background: #FFFFFF;
border: 1px solid #E7E9FC;
margin-bottom: 48px;
margin-right: 0;
}
.links-button{
    opacity: 0;
    display: none;
}
.menu-button{
    opacity: 0;
    display: none;
}
.button-menu{
    opacity: 0;
    display: none;
}
.buttons{
    display: flex;
}
.buttons-last{
    display: flex;
}
.papka:nth-child(6){
    background: #FFFFFF;
border: 1px solid #E7E9FC;
margin-bottom: 48px;
margin-right: 0;
}
.papka:nth-child(7){
    background: #FFFFFF;
border: 1px solid #E7E9FC;
margin-bottom: 0;
margin-right: 22px;
}
.papka:nth-child(8){
    background: #FFFFFF;
border: 1px solid #E7E9FC;
margin-bottom: 0;
margin-right: 22px;
}
.papka:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.papka__title{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;
}
.papka__text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;
margin-top: 8px;
}
body{
    font-family: 'Roboto', sans-serif;
margin: 0;
}
.menu-span{
    width: 71px;
height: 24px;
font-family: 'Raleway' , sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
display: flex;
align-items: center;
text-transform: uppercase;
color: #2E2F42;
}
.container1{
display: flex;
flex-direction: column;
align-items: center;
margin-left: auto;
margin-right: auto;
max-width:  1158px;
}
.links__studio:hover{
   color:  #404BBF;
}
.links__contacts:hover{
    color:  #404BBF;
}
.links__portfolio:hover{
    color:  #404BBF;
}
.links__studio:focus{
    color:  #404BBF;
 }
 .links__contacts:focus{
     color:  #404BBF;
 }
 .links__portfolio:focus{
     color:  #404BBF;
 }
.container2{
    margin-left: auto;
margin-right: auto;
max-width: 1158px;
padding-right: 15px;
padding-left: 15px;
align-items: center;
    padding-top: 120px;
    display: flex;
    padding-bottom: 120px;
    justify-content: center;
}
.section2{
    background: #FFFFFF;
    display: flex;
}
.section3{
    background: #FFFFFF;
    display: flex;
}
.container3{
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px; 
    max-width: 1158px;
}
.section4{
    background: #F4F4FD;
    display: flex;
}
.container4{
    background: #F4F4FD;
    padding-bottom: 120px;
    margin-left: auto;
margin-right: auto;
padding-right: 15px;
padding-left: 15px;
max-width: 1158px;
}
.footer{
    background: #2E2F42;
}
.section-last{
    background: #FFFFFF;
    display: flex;
}
.container11{
    display: flex;
    margin-top: 96px;
    margin-bottom: 72px;
    gap: 24px;
    margin-left: auto;
margin-right: auto;
padding-right: 15px;
padding-left: 15px;
align-items: center;
justify-content: center;
max-width: 1158px;
}
.container12{
    margin-left: auto;
margin-right: auto;
max-width: 1158px;
}
.section12{
    background: #FFFFFF;
    padding-bottom: 120px;
}
.hero-picture{
   display: flex ;
flex-wrap: wrap;
list-style: none;
justify-content: center;
}
.social{
    background: #4D5AE5;
    height: 40px;
    width: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-right: 24px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover{
    background: #404BBF;
}
.social:last-child{
    margin-right: 0;
}
.insta2{
    height: 16px;
    width: 16px;
}
.twitter2{
    height: 16px;
    width: 16px;
}

.social-media{
    display: flex;
    margin-top: 8px;
}
.facebook2{
    height: 16px;
    width: 16px;
}
.linkedin2{
    height: 16px;
    width: 16px;
}
.media{
    height: 40px;
    width: 40px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;  
background: rgba(255, 255, 255, 0.1);
margin-right: 16px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media:last-child{
    margin-right: 0;
}
.media:hover{
    background: #31D0AA;
}
.linkedin3{
height: 24px;
width: 24px;
}
.insta3{
    height: 24px;
    width: 24px;
}
.facebook3{
    height: 24px;
    width: 24px;
}
.twitter3{
    height: 24px;
    width: 24px;
}
.text-media{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}
.footer2{
    padding-top: 100px;
    margin-left: 120px;
}
.symbol{
background: #F4F4FD;
border-radius: 4px;
width: 264px;
height: 112px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}
.vector-group{
    display: flex;
    justify-content: center;
}
.group{
    border: 1px solid #8E8F99;
border-radius: 4px;
height: 86px;
width: 166px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 24px;
fill: #AFB1B8;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
}
.group:hover {
    border: 1px solid #404BBF;
    fill: #404BBF;
}
.group:last-child{
    margin-right: 0;
}
.container5{
    max-width: 1158px;
    margin-left: auto;
margin-right: auto;
padding-right: 15px;
padding-left: 15px;
padding-top: 130px;
padding-bottom: 120px;
}
.section5__vector{
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: #2E2F42;
text-align: center;
padding-bottom: 72px;
}
.menu-footer{
    display: flex;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    }
    .modal{
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border-radius: 4px;
        background-color: #FFFFFF; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);  
padding: 72px 24px 24px 24px; 
    }
    .forma{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        }
        .forma__tutor{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 16px;
        }
        .conect{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.2;
            letter-spacing: 0.01em;
            color: #757575;
        }
        
        .forma__hp12{
            height: 40px;
            width: 360px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            position: relative;
            outline: none;
        margin-top: 4px;
        margin-bottom: 8px;
        padding-left: 38px;
        }
        
        .forma__hp12:focus+ .forma__person{
        fill: #404BBF;
        outline: none;
        }
        .forma__len:focus + .forma__telefon{
            fill: #404BBF;
            outline: none; 
        }
        .forma__macb:focus+ .forma__poshta{
            fill: #404BBF;
        outline: none;
        }
        .forma__macb{
            height: 40px;
            width: 360px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            position: relative;
            outline: none;
            margin-top: 4px;
            margin-bottom: 8px;
            padding-left: 38px;

        }
        .forma__macb:focus{
            border: 1px solid #404BBF; 
        }
        .forma__len{
            height: 40px;
            width: 360px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            position: relative;
            outline: none;
            margin-top: 4px;
            margin-bottom: 8px ;
            padding-left: 38px;
        }
        .forma__len:focus{
            border: 1px solid #404BBF; 
        }
        .forma__blb{
            height: 120px;
            width: 360px;
            outline: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            margin-top: 4px;
            padding-left: 16px;
            padding-top: 8px;
        }
        .forma__blb:focus{
            border: 1px solid #404BBF; 
        }
        .forma__person{
            width: 12px;
        height: 12px;
        transform: translateY(37px);
        position: absolute;
        outline: none;
        left: 22px;
        display: inline-block;
        }
        .forma__hp12:focus{
            border: 1px solid #404BBF;  
        }
        .forma__telefon{
            width: 13px;
        height: 13px;
        left: 22px;
        transform: translateY(70px);
        position: absolute;
        outline: none;
        }
        .forma__poshta{
            width: 15px;
        height: 12px;
        left: 22px;
        transform: translateY(103px);
        position: absolute;
        outline: none;
        }
        .coments__chi{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: #757575;
            margin-left: 24px; 
            margin-top: 8px;
            margin-bottom: 4px;
         } 
        
        .conect__ita{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: #757575;
            margin-left: 24px; 
           margin-top: 8px;
           margin-bottom: 4px;
        }
        .hobby{
            width: 360px;
            height: 16px;
            margin-top: 16px;
            margin-bottom: 24px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.2;
            letter-spacing: 0.04em;
            color: #757575;
            
        }
        .value{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.2;
            letter-spacing: 0.04em;
            color: #757575;
        }
        .hobby__links{
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.03em;
            line-height: 1.3;
            color: #404BBF;
            margin-left: 5px;
        }
        .forma__telefon:focus{
            fill: #FFFFFF;
            outline: none;
        }
        .closer{
        width: 24px;
        height: 24px;
        background: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        position: absolute;
        top: 24px;
        right: 24px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        }
        .closer:hover{
            fill: #FFFFFF;
            background: #404BBF;
        }
        .button-modal{
            display: flex;
            justify-content: center;
            padding: 16px 32px;
            width: 169px;
            height: 56px;
            background: #4D5AE5;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: none;
        font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
        }
            .subscribe__net{
                height: 40px;
                width: 264px;
                border-radius: 4px;
                border: 1px solid rgba(255, 255, 255, 0.3);
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                background: #2E2F42;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.6);
                padding-left: 16px;
            }
            .subscribe{
                margin-bottom: 16px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            }
            .stud{
                margin-left: 24px;
                height: 40px;
                width: 165px;
                border-radius: 4px;
                background: #4D5AE5;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #FFFFFF;

            }
            
            .stud__telegraf{
                margin-left: 10px;
            }
            .footer3{
                padding-top: 100px;
                margin-left: 80px;
                width:453px;
                height: 80px;
            }
            .button-forma{
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
            }
            .page-label{
                display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}
            

    